@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #000; /* Màu đen cho nút */
  background-color: #fff; /* Màu nền trắng */
  border: 1px solid #000; /* Viền màu đen */
  border-radius: 50%; /* Viền tròn */
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; /* Đặt nút ở vị trí tuyệt đối */
  top: 50%; /* Căn giữa theo chiều dọc */
  transform: translateY(-50%); /* Giúp căn giữa chính xác */
  z-index: 10; /* Đặt nút lên trên slider */
  font-size: 15px; /* Kích thước nhỏ hơn cho icon mũi tên */
}

.swiper-button-prev {
  left: 10px; /* Đặt nút bên trái */
}

.swiper-button-next {
  right: 10px; /* Đặt nút bên phải */
}

.swiper-button-next::after:hover,
.swiper-button-prev::after:hover {
  background-color: #000; /* Đổi màu nền khi hover */
  color: #fff; /* Đổi màu icon khi hover */
}
